nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a.title {
  margin: 0 auto 0 0;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
}
a {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}
a:visited {
  color: black;
}
